@import "../cssvariable/variables";

.containerCard {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px;
    border-bottom: 0.75px solid rgb(163, 160, 164);
    padding: 10px 0px;

}

@media (max-width:760px) {
    .marketCap {
        display: none;
    }
}
.container:last-child {
    border: none;
}
.name {
    font-size: 14px;
    margin-left: 0px;
    text-align: center;
    font-weight: bold;
    color: #333333;
    justify-content: center;
    a{
        text-decoration: none;
        color: black;
        transition: all 0.2s linear;
    }
    a:hover{
        color: $GlobalColor;
    }
}
.symbol {
    text-align: center;
    a{
        text-decoration: none;
        color: black;
        transition: all 0.2s linear;
    }
    a:hover{
        color: $GlobalColor;
    }
}

.currentPrice {
    text-align: center;
    margin-right: 5px;
}

.greenPriceChange,
.redPriceChange {
    direction: ltr !important;
    text-align: center;
    margin-right: 10px;
    font-weight: bold;
}

.redPriceChange {
    color: rgb(255, 38, 38);
}

.greenPriceChange {
    color: rgb(0, 204, 0);
}